<% include ../include/header_admin.ejs %>
<!--End of Header Area-->
<!--Slider Area Start-->
<div class="slider-area admin_slider">
    <div class="preview-2">
        <div id="nivoslider" class="slides">
            <img src="/img/main1.png" alt="" title="#slider-1-caption1" id="slide1"/>
            <img src="/img/main2.png" alt="" title="#slider-1-caption2" id="slide2"/>
        </div>
        <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <h1 class="title1" id="slide1_title"><%= contents.slide1.title %></h1>
                                <p class="sub-title" id="slide1_text"><%= contents.slide1.text %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg1"></div>
        <div id="buttonArea" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"
             style="height: 50px; z-index: 100; position: relative; bottom: 300px; display: none;">
            <ul style="text-align: center">
                <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-primary img_change" name="slide1">Image1 Change</button>
                </li>

                <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-primary img_change" name="slide2">Image2 Change</button>
                </li>

                <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-primary" id="slide_text1_change" name="slide1">Slide1 Text Change</button>
                </li>

                <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-primary" id="slide_text2_change" name="slide2">Slide2 Text Change</button>
                </li>
            </ul>
        </div>

        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content slide-2 hidden-xs">
                                <h1 class="title1" id="slide2_title"><%= contents.slide2.title %></h1>
                                <p class="sub-title" id="slide2_text"><%= contents.slide2.text %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Slider Area-->

<!--Service Area Start-->
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Services</h3>
                        <p>Our best services for your kids</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="single-service-item-wrapper">
                    <div class="single-service-item">
                        <div class="single-service-text">
                            <h4>Meals Provided</h4>
                            <p>Lorem ipsum dolor sit amet cotetur adipisicing elit, sed do mod tempor incididunt ut
                                labore etdolore.</p>
                        </div>
                        <div class="single-service-icon">
                            <i class="fa fa-cutlery"></i>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-text">
                            <h4>Language Lessons</h4>
                            <p>Quidem laudantium itaque reiciendis inventore. Nobis dolorem, odit ipsam ratione minus
                                quisquam iste.</p>
                        </div>
                        <div class="single-service-icon">
                            <i class="fa fa-language"></i>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-text">
                            <h4>Transportation</h4>
                            <p>Amet voluptate, aperiam praesentium voluptas eveniet dignissimos nisi commodi, illum fuga
                                sapiente?</p>
                        </div>
                        <div class="single-service-icon">
                            <i class="fa fa-bus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs" id="service_img_area" style="height: 500px;">
                <div class="service-image" id="service_image">
                    <img src="/img/service.png" alt="">
                </div>
                <button class="btn btn-primary img_change"
                        style="position: absolute; top:250px; left:140px; display: none; margin: auto; margin-bottom: -34px;"
                        id="service_bt" name="service">Image Change
                </button>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-service-item-wrapper">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                        <div class="single-service-text">
                            <h4>Full Day Session</h4>
                            <p>Quibusdam harum est praesentium illo ad expedita nihil optio repellat, fugiat obcaecati
                                is sunt.</p>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="fa fa-bookmark"></i>
                        </div>
                        <div class="single-service-text">
                            <h4>Special Education</h4>
                            <p>voluptatem, cupiditate eveniet dolores inventore delectus vel eius molestias tho minus,
                                corporis.</p>
                        </div>
                    </div>
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="single-service-text">
                            <h4>Special Education</h4>
                            <p>Et, itaque adipisci blanditiis eaque inventore tempore cum commodi, dicta quisquam
                                similique magnam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="teachers-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Teachers</h3>
                        <p>We are glad to introduce our professional staff</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="teacher_service_area">
                <div class="teacher-image" id="teacher_imgs" style="height: 670px;">
                    <img src="/img/teacherIntro.png" alt="" id="teacherIntro">
                </div>
                <button class="btn btn-primary img_change"
                        style="position: relative; bottom: 350px; display: none; margin: auto; margin-bottom: -34px;"
                        id="teacher_bt" name="teacherIntro">Image Change
                </button>
            </div>
        </div>
    </div>
</div>
<!--End of Service Area-->
<!--Fun Factor Area Start-->
<div class="factor-area">
    <div class="fun-factor-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-fun-factor">
                        <div class="fun-factor-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <span>Teacher</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-fun-factor">
                        <div class="fun-factor-icon">
                            <i class="fa fa-bank"></i>
                        </div>
                        <span>Class</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-fun-factor">
                        <div class="fun-factor-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <span>Acceptable Students</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary img_change"
            style="display: none; position: relative; left: 46%; bottom: 140px; z-index: 900;" id="factor_bt"
            name="factor">Image Change
    </button>
</div>
<!--End of Fun Factor Area-->


<div class="modal fade" id="myModal" role="dialog" style="margin-top: 200px;">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modal_title"></h4>
            </div>

            <div class="modal-body form-group">
                Title: <input type="text" class="form-control" id="modal_content_title"><br>
                Text: <textarea class="form-control" id="modal_content_text"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="change_ok">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="img_modal_title"></h4>
            </div>

            <div class="modal-body form-group">

                <form action="/admin/uploadImg" enctype="multipart/form-data" class="dropzone"
                      style="border: 2px dashed #f57b20" id="myAwesomeDropzone">
                    <div class="dz-message needsclick">
                        <span style="color:#231e61">Drop Image here or click to upload.</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../include/footer_admin.ejs %>

<script src="/js/admin.js">

</script>
