<% include ../include/header_admin.ejs %>
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area body-top" style="background: url('/img/classInfo_back.png')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Register Class</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/admin/index">Home</a></li>
                            <li>Class</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Class Details Area Start-->
<div class="class-details-area section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="class-details-container">
                    <h1><input type="text" placeholder="Class Title" class="form-control" style="width: 45%;" id="classTitle"></h1>
                    <div id="register_img_area">
                        <div class="class-details-carousel carousel-style-one" id="register_img" style="height: 501px;">
                            <img src="/img/classes/init.png" alt="" id="registerClass">
                        </div>
                        <button class="btn btn-primary img_change"  id="registerClass_bt" name="registerClass" style="display: none; position: relative; left:46%; bottom: 300px; z-index: 999;">Upload Img</button>
                    </div>
                </div>
                <div class="class-details-tab">
                    <div class="class-details-tab-menu">
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="overview" href="#overview"><i class="fa fa-graduation-cap"></i>Overview</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active" role="tabpanel">
                            <h3>COURSE DESCRIPTION</h3>
                            <textarea class="form-control" style="height: 300px;" id="description">

                            </textarea>
                            <h3>LEARNING OUTCOMES  <i class="fa fa-plus-square" style="cursor: pointer" id="addOutcomes"></i></h3>
                            <div class="tab-info">
                                <input type="text" class="form-control outcomes" placeholder="Write outcome for this class" style="margin-bottom: 15px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Info Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="class-infos">
                            <li><i class="fa fa-calendar"></i><input type="text" placeholder="Start Date" class="form-control" style="width: 80%; display: inline" id="startDate"></li>
                            <li><i class="fa fa-birthday-cake"></i><input type="text" placeholder="Years Old" class="form-control" style="width: 80%; display: inline" id="target"></li>
                            <li><i class="fa fa-bank"></i><input type="text" placeholder="Class Size" class="form-control" style="width: 80%; display: inline" id="total"></li>
                            <li><i class="fa fa-money"></i><input type="text" placeholder="Fee" class="form-control" style="width: 80%; display: inline" id="fee"></li>
                        </ul>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Teachers</h3>
                    </div>
                    <div class="single-widget-container">
                        <p>
                            Teacher1
                        </p>
                        <select class="form-control" id="mainTeacher">
                            <option selected="selected" value="">Select teacher1</option>
                            <% teachers.forEach(function(teacher){%>
                            <option value="<%=teacher.no%>"><%=teacher.name%></option>
                            <%});%>
                        </select>
                        <br>
                        <p>
                            Teacher2
                        </p>
                        <select class="form-control" id="subTeacher">
                            <option selected="selected" value="">Select teacher2</option>
                            <% teachers.forEach(function(teacher){%>
                            <option value="<%=teacher.no%>"><%=teacher.name%></option>
                            <%});%>
                        </select>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title" style="text-align: center;">
                        <button class="btn btn-primary" style="width: 150px; background-color: #f57b20; border: none;" id="registerClass_submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Class Details Area-->
<!--Class Area Start-->

<div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="px;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="img_modal_title"></h4>
            </div>

            <div class="modal-body form-group">

                <form action="/admin/uploadImg"  enctype="multipart/form-data" class="dropzone" style="border: 2px dashed #f57b20" id="myAwesomeDropzone">
                    <div class="dz-message needsclick">
                        <span style="color:#231e61">Drop Image here or click to upload.</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--End of Class Area-->
<% include ../include/footer_admin.ejs %>

<script src="/js/admin.js">

</script>

<script>
    $("#addOutcomes").click(function () {
        $(".tab-info").append(
            `<input type="text" class="form-control outcomes" placeholder="Write outcome for this class" style="margin-bottom: 15px;">`
        )
    })
    
    $("#registerClass_submit").click(function () {
        if(confirm('Are you sure register class?')){
            var title = $("#classTitle").val();
            var description = $("#description").val();
            var outcomes = '';
            $(".outcomes").each(function (outcome) {

                if($(this).val() === undefined || $(this).val() === '' || $(this).val() ==='undefined'){
                    return;
                }
                outcomes += $(this).val()+',';
            })

            outcomes = outcomes.slice(0, -1);

            var startDate = $("#startDate").val();
            var target = $("#target").val();
            var total = $("#total").val();
            var fee = $("#fee").val();

            var mainTeacher = $("#mainTeacher option:selected").val();

            var subTeacher = $("#subTeacher option:selected").val();

            $.ajax({
                url: '/admin/registerClass',
                type: 'POST',
                data: {title: title, description: description, outcomes: outcomes, startDate:startDate, target: target, total: total, fee: fee, mainTeacher: mainTeacher, subTeacher: subTeacher}
            }).done(function (result) {
                if(result === 'success') {
                    alert('success!');
                    location.reload();
                }else{
                    console.error(result);
                }
            }).fail(function (err) {
                console.error(err);
            });
        }
    })
</script>