<% include ../include/header_admin.ejs %>

<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Vision & Mission</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Vision & Mission</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--About Area Start-->
<div class="about-area section-padding-bottom" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Vision & Mission</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p>English is a required subject throughout elementary, middle, and high school in South Korea, but only 10% of South Koreans claim they can speak English fluently.</p>
                    <p>This is because the style of English learning used through much of Korea relies on memorization, not actual practice.</p>
                    <p>At GIA, students will be exposed to new methods of English language learning.</p>
                    <p>Through team teaching with a native and bi-lingual teacher, students will experience integrated learning, where all linguistic skills are taught within each other and provide each other context.</p>
                    <p>The goal is to move students from BICS (Basic Interpersonal Communication Skills) to CALP (Cognitive Academic Language Proficiency), so they are prepared for any academic English they may encounter in school and work.</p>
                </div>
            </div>
            <div class="col-md-6" id="vm_img_area">
                <div class="vm-image" style="height: 442px;">
                    <img src="/img/vm.png" alt="" id="vm">
                </div>
                <button class="btn btn-primary img_change"  id="vm_bt" name="vm" style="display: none; position: relative; left:40%; bottom: 250px; z-index: 999;">Image Change</button>
            </div>
        </div>
    </div>
</div>
<!--End of About Area-->


<div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="top:130px;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="img_modal_title"></h4>
            </div>

            <div class="modal-body form-group">

                <form action="/admin/uploadImg"  enctype="multipart/form-data" class="dropzone" style="border: 2px dashed #f57b20" id="myAwesomeDropzone">
                    <div class="dz-message needsclick">
                        <span style="color:#231e61">Drop Image here or click to upload.</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<% include ../include/footer_admin.ejs %>

<script src="/js/admin.js"> </script>