<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modal</title>
    <link type="text/css" href="_modal.css" rel="stylesheet"/>
</head>
<body>
<div class="modal2" id="detailModal">
    <div class="blackBg on"></div>
    <div class="modalBox">
        <div class="imageBox">
            <img src="/images/event8.png" alt="detail page image"/>
        </div>
        <div class="btnBox">
            <button type="button" class="modalBtn modalBtn1" onclick="closeModal('detailModal');">확인</button>
        </div>
    </div> <!-- END modalBox-->
</div> <!-- END modal-->
<script>
    function openModal(getId){
        //// modal / class add

        var modal = document.getElementById(getId);
        modal.classList.add('on');
        event.preventDefault();
    }

    function closeModal(getId){

        ///// modal /  class close
        var modal = document.getElementById(getId);
        modal.classList.remove('on');
        event.preventDefault();
    }

    function submitFile(){

        ///// modal / email submit
        ///// add modal / sweetalert modal
    }
</script>
</body>
</html>