<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home One || TechEdu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="/image/x-icon" href="/img/favicon.ico">

    <!-- Google Fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Bootstrap Toggle CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap-toggle.min.css">

    <!-- Fontawsome CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Owl Carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">

    <!-- Slick CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/slick.css">

    <!-- jquery-ui CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/jquery-ui.css">

    <!-- Meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">

    <!-- Venubox CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/venobox.css">

    <!-- Animate CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/animate.css">

    <!-- Nivo slider CSS
    ============================================ -->
    <link rel="stylesheet" href="/lib/nivo-slider/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="/lib/nivo-slider/css/preview.css" type="text/css" media="screen" />

    <!-- Style CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- Modernizr JS
    ============================================ -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!--sweet alert-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--Header Area Start-->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 hidden-xs">
                    <div class="header-top-info">
                        <span>Open hours: 8.00-18.00 Mon-Sat</span>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="header-login-register">
                        <ul class="login">
                            <li>
                                <%if(typeof loginUser === 'undefined'){%>
                                <a href="#"><i class="fa fa-user"></i>Login</a>
                                <div class="login-form">
                                    <h4>Admin</h4>
                                    <form action="/user/login" method="post">
                                        <div class="form-box">
                                            <i class="fa fa-user"></i>
                                            <input type="text" name="userId" placeholder="AdminId">
                                        </div>
                                        <div class="form-box">
                                            <i class="fa fa-lock"></i>
                                            <input type="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="button-box">
                                            <button type="submit" class="login-btn">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <%} else {%>
                                <a href="/admin"><i class="fa fa-user"></i>Hello, <%=loginUser.id%>! Click here to admin page</a>
                                <%}%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Logo Mainmenu Start-->
    <div class="header-logo-menu sticker">
        <div class="container">
            <div class="logo-menu-bg">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="logo">
                            <a href="/"><img src="/img/logo/logo.png" alt="TECHEDU"></a>
                        </div>
                    </div>
                    <div class="col-md-9 hidden-sm hidden-xs">
                        <div class="mainmenu-area">
                            <div class="mainmenu">
                                <nav>
                                    <ul id="nav">
                                        <li class="current"><a href="/">Home</a>

                                        </li>
                                        <li><a href="#">About us<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/greeting">Greeting</a></li>
                                                <li><a href="/vm">Vision & Mission</a></li>
                                                <li><a href="/faculty">Faculty</a></li>
                                                <li><a href="/location">Location</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Curriculum <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/class/tiny">Tiny Tigers</a></li>
                                                <li><a href="/class/grades">Grade 1 - Grade 6</a></li>
                                                <li><a href="/class/graduates">TT Graduates</a></li>
                                                <li><a href="/class/adult">Adults</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Admissions<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/fee">Tuition & Fees</a></li>
                                                <li><a href="/application">Application</a></li>
                                                <li><a href="/test">Test Schedule</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/notice">Notices</a></li>
                                        <li><a href="/gallery">Photo Gallery</a></li>
                                        <li><a href="#">Inquiry <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/contact">Contact</a></li>
                                                <li><a href="/employment">Employment</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <ul class="header-search">
                                <li class="search-menu">
                                    <i id="toggle-search" class="fa fa-search"></i>
                                </li>
                            </ul>
                            <!--Search Form-->
                            <div class="search">
                                <div class="search-form">
                                    <form id="search-form" action="#">
                                        <input type="search" placeholder="Search here..." name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <%if(typeof message !== 'undefined'){%>
                            <input type="hidden" value="<%=message%>" id="signIn_set_alert">
                            <%}%>
                            <!--End of Search Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Logo Mainmenu-->
    <!-- Mobile Menu Area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li class="current"><a href="/">Home</a>

                                </li>
                                <li><a href="#">About us<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/greeting">Greeting</a></li>
                                        <li><a href="/vm">Vision & Mission</a></li>
                                        <li><a href="/faculty">Faculty</a></li>
                                        <li><a href="/location">Location</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Curriculum <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/tiny">Tiny Tigers</a></li>
                                        <li><a href="/grade1-6">Grade 1 - Grade 6</a></li>
                                        <li><a href="/graduates">TT Graduates</a></li>
                                        <li><a href="/adult">Adults</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Admissions<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/fee">Tuition & Fees</a></li>
                                        <li><a href="/application">Application</a></li>
                                        <li><a href="/test">Test Schedule</a></li>
                                    </ul>
                                </li>
                                <li><a href="/notice">Notices</a></li>
                                <li><a href="/gallery">Photo Gallery</a></li>
                                <li><a href="#">Inquiry <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/employment">Employment</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area end -->
</header>