<% include ../include/header.ejs %>

<div class="breadcrumb-banner-area body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Vision & Mission</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Vision & Mission</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--About Area Start-->
<div class="about-area section-padding-bottom" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Vision & Mission</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p>English is a required subject throughout elementary, middle, and high school in South Korea, but only 10% of South Koreans claim they can speak English fluently.</p>
                    <p>This is because the style of English learning used through much of Korea relies on memorization, not actual practice.</p>
                    <p>At GIA, students will be exposed to new methods of English language learning.</p>
                    <p>Through team teaching with a native and bi-lingual teacher, students will experience integrated learning, where all linguistic skills are taught within each other and provide each other context.</p>
                    <p>The goal is to move students from BICS (Basic Interpersonal Communication Skills) to CALP (Cognitive Academic Language Proficiency), so they are prepared for any academic English they may encounter in school and work.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-image">
                    <img src="/img/vm.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Area-->


<% include ../include/footer.ejs %>