<% include ../include/header.ejs %>

<div class="breadcrumb-banner-area body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Application</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Application</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--Skill And Experience Area Start-->
<div class="skill-and-experience-area">

    <div class="container">
        <div class="row" style="margin-top: 50px; padding-left: 20px;">
            <p>If you do not see the PDF viewer, please click <a href="/downloadApplication" style="text-decoration: underline; color: blue" download>here</a> for download.</p>
            <br>
            <p>All of our programs require an application to be submitted in order to be considered for enrollment. You can download the application form here.<p>

            <p>
                If you need assistance with the questions or language on the application, please contact Ms. Haewon Yun at mshyun@gifs.or.kr.
            </p>
        </div>

        <div class="row" style="margin-top: 20px; margin-bottom: 20px; padding-left: 20px; padding-right: 20px;">
            <!--<iframe style="width: 100%; height: 1000px;" src="/ref/application.pdf"></iframe>-->

            <object data="/ref/application.pdf" type="application/pdf" style="width: 100%; height: 1000px;">
                <p>It appears you don't have Adobe Reader or PDF support in this web browser. <a href="/downloadApplication" style="text-decoration: underline; color: blue">Click here to download the PDF</a>. Or <a href="http://get.adobe.com/reader/" target="_blank" style="text-decoration: underline; color: blue">click here to install Adobe Reader</a>.</p>
                <embed src="/ref/application.pdf" type="application/pdf" />
            </object>
        </div>

    </div>
</div>
<!--End of Skill And Experience Area-->


<% include ../include/footer.ejs %>