<% include ../include/header.ejs %>

<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Tuition & Fees</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Tuition & Fees</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--Skill And Experience Area Start-->
<div class="skill-and-experience-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table" style="margin-top: 10%; margin-bottom: 10%; text-align: center;">
                    <tr>
                        <th style="text-align: center">Grade</th>
                        <th style="text-align: center">Tuition</th>
                    </tr>
                    <tr>
                        <td>Grade 1 – Grade 2 (4 times a week)</td>
                        <td>180,000 won per month</td>
                    </tr>
                    <tr>
                        <td>Grade 3 – Grade 4 (3 times a week)</td>
                        <td>230,000 won per month</td>
                    </tr>
                    <tr>
                        <td>Grade 3 – Grade 4 (2 times a week)</td>
                        <td>180,000 won per month</td>
                    </tr>
                    <tr>
                        <td>Grade 5 – Grade 6 (3 times a week)</td>
                        <td>230,000 won per month</td>
                    </tr>
                    <tr>
                        <td>Grade 5 – Grade 6 (2 times a week)</td>
                        <td>180,000 won per month</td>
                    </tr>
                    <tr>
                        <td>Adult Class (2 times a week)</td>
                        <td>200,000 won per month</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--End of Skill And Experience Area-->


<% include ../include/footer.ejs %>