<% include ../include/header.ejs %>

<div class="breadcrumb-banner-area body-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Tuition & Fees</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Tuition & Fees</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--Skill And Experience Area Start-->
<div class="skill-and-experience-area">
    <div class="container">

        <div class="row">
            <div class="section-title" style="margin-top: 7%; text-align: left;">
                <h5>Please see the following tables for our tuition and fees for our various programs.</h5>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered" style="margin-top: 5%; text-align: center;">
                    <tr>
                        <th style="text-align: center">ClassName</th>
                        <th style="text-align: center">Tuition</th>
                    </tr>
                    <%classes.forEach(function(classInfo){%>
                    <tr>
                        <td><%=classInfo.name%></td>
                        <td><%=classInfo.fee%> won per month</td>
                    </tr>
                    <%})%>
                </table>
            </div>

            <div class="col-md-12"  style="margin-bottom: 10%;">
                <p> - Textbook fee</p>
                <p> - Academy Bag is included in your tuition.</p>
            </div>
        </div>
    </div>
</div>
<!--End of Skill And Experience Area-->


<% include ../include/footer.ejs %>